.saveBtn {
	cursor: pointer;
	padding: 6px 20px;
	font-size: 16px;
	background-color: var(--button-color);
	color: #fff;
	border: none;
	margin-left: auto;
}

.form {
	padding: 20px 100px;
	display: flex;
	flex-direction: column;
}

.form > fieldset {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 20px;
}

.form > fieldset > label {
	flex: 1 0 200px;
}

.form > fieldset > input {
	flex: 1 0 300px;
	padding: 6px 10px;
	border-radius: 0;
	border: 1px solid var(--accent-color);
	background-color: var(--bg-color-light);
	color: var(--text-color);
	border-radius: 20px;
}
