.hidden {
	display: none;
}

.cell {
	min-width: 205px;
	text-align: center;
}

.clickable,
.btn {
	cursor: pointer;
}

.clickable:hover {
	text-decoration: underline;
}

.btn {
	margin-left: 5px;
	display: inline-block;
	font-size: 16px;
	padding: 0 6px;
}

.editingInput {
	width: 60px;
}
