.cell {
	padding: 10px;
}

.title {
	flex-basis: 300px;
	cursor: pointer;
}

.title:hover {
	text-decoration: underline;
}

.linkBullet {
	padding: 0 6px;
}

.row:nth-child(odd) {
	background-color: var(--bg-color-light);
}

.row:nth-child(even) {
	background: var(--bg-color-lighter);
}
